hibernateWebService/xml-resources/web-service-references/test/wsdl/localhost_8980/test.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hibernatewebservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hibernatewebservice/" name="HibernateWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://hibernatewebservice/" schemaLocation="http://localhost:8980/test?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="insertNew">
<part name="parameters" element="tns:insertNew"></part>
</message>
<message name="insertNewResponse">
<part name="parameters" element="tns:insertNewResponse"></part>
</message>
<message name="get">
<part name="parameters" element="tns:get"></part>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"></part>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<portType name="HibernateWebService">
<operation name="insertNew">
<input wsam:Action="http://hibernatewebservice/HibernateWebService/insertNewRequest" message="tns:insertNew"></input>
<output wsam:Action="http://hibernatewebservice/HibernateWebService/insertNewResponse" message="tns:insertNewResponse"></output>
</operation>
<operation name="get">
<input wsam:Action="http://hibernatewebservice/HibernateWebService/getRequest" message="tns:get"></input>
<output wsam:Action="http://hibernatewebservice/HibernateWebService/getResponse" message="tns:getResponse"></output>
</operation>
<operation name="delete">
<input wsam:Action="http://hibernatewebservice/HibernateWebService/deleteRequest" message="tns:delete"></input>
<output wsam:Action="http://hibernatewebservice/HibernateWebService/deleteResponse" message="tns:deleteResponse"></output>
</operation>
</portType>
<binding name="HibernateWebServicePortBinding" type="tns:HibernateWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="insertNew">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="get">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="HibernateWebServiceService">
<port name="HibernateWebServicePort" binding="tns:HibernateWebServicePortBinding">
<soap:address location="http://localhost:8980/test"></soap:address>
</port>
</service>
</definitions>