hibernateWebService/xml-resources/web-service-references/test/wsdl/localhost_8980/test.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://hibernatewebservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://hibernatewebservice/">

<xs:element name="delete" type="tns:delete"></xs:element>

<xs:element name="deleteResponse" type="tns:deleteResponse"></xs:element>

<xs:element name="get" type="tns:get"></xs:element>

<xs:element name="getResponse" type="tns:getResponse"></xs:element>

<xs:element name="insertNew" type="tns:insertNew"></xs:element>

<xs:element name="insertNewResponse" type="tns:insertNewResponse"></xs:element>

<xs:complexType name="insertNew">
<xs:sequence>
<xs:element name="arg0" type="tns:account" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="birthday" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fullName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="image" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="password" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="phone" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="userName" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertNewResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="get">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="arg0" type="tns:account" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>